# ########################################################################### #
# NOTE: If you change this file, you must regenerate the feedstock.           #
#   - conda smithy regenerate                                                 #
#   - @conda-forge-admin, please rerender                                     #
# ########################################################################### #

# Select the MACOSX Deployment target
# This will change depending on the version of go
# For the correct deployment target, please see go's Release notes
# c.f.: https://golang.org/doc/go1.18#darwin
MACOSX_DEPLOYMENT_TARGET:  # [osx and x86_64]
  - '10.13'                # [osx and x86_64]
MACOSX_SDK_VERSION:        # [osx and x86_64]
  - '10.14'                # [osx and x86_64]


# We use go1.4 as our bootstrap compiler
go14_compiler:
  - go1.4-bootstrap


# Select the GO variants that we are building
# The variant names, and versions come from https://bit.ly/conda-go-select
go_variant_str:
  - cgo
  - nocgo
go_variant_ver:
  - 2.3.0
  - 2.2.0

# One-hot-encoding of the variant selection above
cgo:
  - true
  - false

#
# Tie the variables together
zip_keys:
  -
    - go_variant_str
    - go_variant_ver
    - cgo
